@include mediaLaptop {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;

    /* Handle on hover */
    &:hover {
      background: darken($scrollbar-thumb-color, 10); 
    }
  }
}