.ChildNote,
.ChildNote--pressed {
  display: grid;
  grid-template-columns: $color-tab-width 1fr;
  height: $item-height;
  line-height: $item-height;
  border-bottom: 1px solid $primary-gray;
  opacity: 0;
  animation: appear 0.5s ease-out;
  @include animation-fill-mode;

  .ChildNote__content {
    display: grid;
    grid-template-columns: 32px 1fr $button-width;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 2px;

    .ChildNote__icon {
      position: relative;
      background: $primary-white;
      padding-left: 6px;
      border-bottom-left-radius: 12px;

      .ChildNote__cornerColor {
        position: absolute;
        bottom: -5px; left: -5px;
        width: 10px; 
        height: 10px;
        transform: rotate(45deg);
      }
    }
  
    .ChildNote__contents {
      background: $primary-white;
      color: inherit;
      white-space: nowrap;
      overflow: hidden; 
      text-align: left;
      text-overflow: ellipsis;
    }

    .ChildNote__arrow {
      background: $primary-white;
      text-align: center;
      color: $primary-gray;
    }
  }
}

.ChildNote--pressed {
  .ChildNote__content {
    background: darken($primary-white, 5);
  }
}